* text=auto

*.md text
*.html text
*.css text
*.js text
*.py text
*.ps1 text
*.txt text
*.json text
*.yml text
*.yaml text
*.svg text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
